body{
	background-color: #f2f2f2;
}
*{
	box-sizing: border-box;
}
.navbar{
	background-color: #627899;
	border-radius: 0;
	border:0;
	margin-bottom: 0;
}
a > .brand{
	 height: 45px;
	 width: 175px;
	 margin-bottom: 5px;
	 margin-top: 2px;
}
#menu > ul > li > a{
	color:white;
}
.header{
	background-color: #ececec;
}
.header > .square1 {
	background-color: #fff;
	height: 92.5vh;
}
.header > .square1 > img{
	transform: translateX(10px);
	margin-top: 100px; 
	margin-left:100px;
}
.header > .square2{
	background-color: #62D0CE;
	height: 92.5vh;
}
.header > .square2 > h1{
	color:white;
	font-size: 65px;
	margin-left: 50px;
	margin-top: 150px;
	font-weight: bolder;
}
.header > .square2 > h5{
	display: inline-block;
	color:#fff;
	margin-top: 5px;
	margin-left: 5px;
	font-size: 30px;
	}
.header > .square2 > .btn{
	margin-left: 55px;
	border-radius: 0;
	width: 150px;
	height: 50px;
	font-size: 20px;
}
.article{
	margin: 750px 0 0 0;
}
.image{
	background-image: url('../img/a.png');
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 200px;
	margin:0;
	padding: 10px 0;
}
.image .level,
.image .framework {
	flex-grow: 1;
}
.image > .level{
	margin-left: 10px;
	padding: 5px 10px;
}
.image .level span {
	background-color: rgba(192, 192, 192,0.7);
	padding: 2.5%;
}
.image .framework {
	display: flex;
	align-items: flex-end;
}
.image .framework span {
	font-size: 2em;
	color: #fff;
}
.article .row div {
	margin: 0 2.5%;
	width: 365px;
}
.judul{
	margin-bottom: 150px;
}

.desc{
	background-color: #fbfbfb;
	margin:0 0 15px 0;
	padding: 3px 0 30px 0;
	color: #000;
}
.col-md-3 .desc .icon {
	display: flex;
	margin: 0;
}
.col-md-3 .desc .icon div{
	flex-grow: 1;
}
.status{
    justify-content: flex-end;
    display: flex;
    padding-right: 5px;
}
.video{
	padding-left: 30px;
}
#lihatsemua{
	margin-left: 610px;
	margin-top: 100px;
	width: 120px;
	border-radius: 0;
}
#container{
	background-color: white;
	margin-top: 140px;
	margin-bottom: 50px;

}
#logo > div > img{
	height: 120px;
	width: 120px;
	margin: 50px 0 40px 20px;
}
.sub{
	background-color: #627899;
	display: flex;
	justify-content: center;
	padding: 40px 0 ;
	margin-top: 40px;
}
.sub > form > #form {
	width: 320px;
	border-radius: 0;
}
.sub > form > .btn{
	border-radius: 0;
	margin-left: 10px;
}
.footer > .info > .col-md-4 {
	background-color: white;
	height: 200px;
	padding: 30px 0 0 50px;
}
.footer > .info > .col-md-8{
	background-color: #f2f2f2;
	display: flex;
	justify-content: center;
	align-items: center;
	padding :10px 0 0 200px;
}
.col-md-8 > .contact > .col-md-2 > img{
	height: 70px;
	width: 70px;
	margin:60px 30px;
}
footer {
	background-color: #627899;
	padding: 20px 0 30px 10px;
	color:white;
}